<!-- Se pasa el modelo. -->
@model IEnumerable<CrudEntityFramework.Models.Usuario>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">CRUD Usuarios</h1>
<div class="row">
  <div class="col-12">
    <div class= "float-right">
      <a asp-action="Create" asp-controller="Home" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo Usuario</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card border">
      <div class="card-header">

      </div>

    </div>

  </div>

</div>
